/* #display{
    min-height:100%;
    background:url(http://lorempixel.com/800/600/nature/2) rgba(0, 0, 0, 0.46);
    background-size:cover;
    background-blend-mode: multiply;
  } */
  #top-bar-text {
    color: black;
    padding-left: 1%;
    font-family: 'Exo 2', sans-serif;
}
body {
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    /* margin: ; */
    /* background-color: green; */
}
#top-bar {
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    color: black;
}
#top-img {
    width:40px;
}
#formsection {
    display: flex;
    width: 100%;
    flex-direction: column;
}
#formsection input {
    font-size: 1rem;
    margin-top: 50px;
    width: 70%;
    height: 30px;
    margin-left: 150px;
    margin-right: 100px;
}
#formsection button {
    border-radius: 2px;
    font-size: 1rem;
    margin-top: 50px;
    margin-left: 350px;
    height: 30px;
    background-color: aliceblue;
    width: 20%;
}

/* #display {
    margin-top: 1%;
    display: flex; 
    padding-left: 2%;
    padding-right: 2%;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: flex-start;
    
}
#display img{
    max-width: 32%;
    margin: 0 auto;
    margin-top: 1%;
} */
#display {
    columns:15rem 5;
    width: 80%;
    /* background-color: blue; */
    margin: 0 auto;
}
#display img{
    width: 100%;
    margin-bottom: 1rem;
    transition-duration: 0.4s;
    border-radius: 5px;
}
#display img:hover{
    transform: scale(1.05);
    box-shadow:black 50 50 10 50 ;
    border-radius: 7px;
}
/* ____________________________________________________________ */
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* ___________________________________________________________ */

  .image {
    margin: auto 20px;
  }

  
   